<p>
  lesson-layout works!
</p>


<app-opponent-video
  [stream_data]="stream_data"></app-opponent-video>

<!--
  {{lesson_data | json}}
-->
<input type="button" value="start_record" (click)="start_record()">

<input type="button" value="stop_record" (click)="stop_record()">

<span *ngIf="audio_src">
 audio
 <span class="audio_container"></span>
</span>

<br><br><br><br>
{{audio_play_time}}<br><br>

<span *ngFor="let transcript of transcript_arr">
<span (click)="click_audiosentence(transcript.start_time)">
  {{transcript.start_time}} - {{transcript.finish_time}} {{transcript.context}}   <br> ||
</span>
</span>

<app-chat></app-chat>

    <app-own-video>b</app-own-video>