
<div id="header">
  <p id="icon">
    hackerthon-itp
  </p>
</div>

<div id="selection">

  <div class="frame">
    <div class="frame_content">
      <div class="user_video">
        <app-own-video></app-own-video>
      </div>

      <div class="user_selection">
        <div class="teacher">
          <input type="button" (click)="join_as_teacher()" value="join as teacher">
        </div>
        <div class="student">
          <input type="button" (click)="join_as_student()" value="join as student">
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>

<script type='text/javascript'>
  var video = document.getElementsByName('video');
  console.log(video);
  video.css({
        "height": "50vw";
    });
</script>
