
<div id="header">
  <p id="icon">
    hackerthon-itp
  </p>

</div>

<div id="content">

  <div id="frame">

    <app-own-video>a</app-own-video>
   <!-- -->

    <div class="user_selection">
      <div class="teacher">
        <input type="button" (click)="join_as_teacher()" value="join as teacher">
      </div>
      <div class="student">
        <input type="button" (click)="join_as_student()" value="join as student">
      </div>
    </div>

  </div>
</div>

<footer></footer>

<script type='text/javascript'>
  var video = document.getElementsByName('video');
  console.log(video);
  video.css({
        "height": "50vw";
    });
</script>
