/* You can add global styles to this file, and also import other style files */

#header {
  height:7vh;
}

#icon {
  font-size: 1rem;
  float:left;
  margin-left: 10px;
  margin: 0px auto;
}

body {
  background-image: url('/assets/people-woman-coffee-meeting.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: #fff;
  font: 1rem/1.3 futura,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 2rem;
  line-height: 1.3;
  font-family: futura, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-shadow: rgba(0,0,0,.4) 0 1px 4px;
  font-weight: 400;
  text-align: center;
}

input {
    background-color: #4CAF50;
    border: none;
    text-decoration: none;
    font-size: 2.0vw;
    border-radius: 3px;
    vertical-align: top;
    box-shadow: .5px .87px 1px 0 #000;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin: 0;
    /*padding: 0 1.333333333rem;
    line-height: 2.777777778rem;
    height: 2.777777778rem;*/
    padding: 0 1.5rem;
    line-height: 3rem;
    height: 3rem;
    transition: color .1s,background .1s;
    display: inline-block;
    background: linear-gradient(0deg,#70cc74 0,#70cc74 100%);
    border-top: 1px solid #67c098;
    color: #fff!important;
}

#selection {
  height: 80vh;
  position: relative;
  margin: 0px auto;
  text-align: center;
}

#selection .frame_content {
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#selection .user_video video {
  width: 50vw;
}

#selection .own_video {
  width: auto;
  height: auto;
  padding:20px;
  margin: 0px auto;
  border-radius: 10px;
}

#lesson .own_video {
  width: auto;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
}

#selection .user_selection {
  position: absolute;
  bottom: 25px;
  left: 0;
    right: 0;
}

#selection .teacher {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#selection .student {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#lesson {
  width:100%;
  height: 80vh;
  position: relative;
  margin: 0px auto;
  display: table;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px 0;
}


#selection .frame {
  width: 60vw;
  height: 90vh;
  margin: 0px auto;
  background: rgba(0,0,0,0.9);
  border-radius: 10px;
  position: relative;
}

#lesson .frame_main{
  display: table-cell;
  width: 50vw;
  height: 80vh;
  background: rgba(0,0,0,0.9);
  border-radius: 10px;
  position: relative;
}

#lesson .frame_chat{
  display: table-cell;
  width: 20vw;
  height: 80vh;
  background: rgba(0,0,0,0.9);
  border-radius: 10px;
  position: relative;
  vertical-align: top;
}



#lesson app-opponent-video video{
  width: 40vw;
  height:auto;
  position: relative;
  margin: 30px;
}

#lesson app-own-video video{
  width: 14vw;
  position: absolute;
  top: 0;
  margin-top: 30px;
  margin-left: 6vw;
}

#lesson app-chat .chatbox{
  width: 90%;
  height: 40vw;
  margin: 10px auto;
  background-color: #ffffff;
  border: 1px #c0c0c0 solid;
  color: #000000;
  overflow: auto;
  font-size: 1rem;
}

#lesson app-chat .chatbox div[class="own_chat"]{
  text-align: right;
}

#lesson app-chat .chatbox div[class="opponent_chat"]{
  text-align: left;
}

#lesson .recorder {
  margin-bottom: 15px;
}

#lesson .script {
  font-size: 2.5vw;
  margin: 0px auto;
  margin-bottom: 25px;
  width: 80%;
}
